$lemon-surge-primary: #E7B200;
$lemon-surge-secondary: #005700;
$lemon-surge-bg: #0A2F0A;

$crimson-wave-primary: #790000;
$crimson-wave-secondary: #002D78;
$crimson-wave-bg: #000028;

$sunset-rush-primary: #00107C;
$sunset-rush-secondary: #B23300;
$sunset-rush-bg: #B23300;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#home {
  margin: 0;
  background-color: $lemon-surge-bg;
  transition: background-color 1s ease;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  .container {
    height: 100%;
    width: calc(100% - 40px); /* Subtracting the padding on both sides (20px on each side) */
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
      color: white;
      font-family: "macula-line", sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 55px;
      text-align: center;
    }

    h2 {
      font-family: "microgramma-extended", sans-serif;
      font-weight: 700;
      font-style: normal;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center;
      letter-spacing: 2px;
      color: $lemon-surge-primary;
      transition: background-color 1s ease;
    
      // Add animation
      animation: letterSpacingAnimation 2s infinite alternate ease-out;
    }
    
    // Define keyframes for the letter-spacing animation
    @keyframes letterSpacingAnimation {
      from {
        letter-spacing: 2px;
      }
      to {
        letter-spacing: 8px;
      }
    }

    .image-container {
      border-radius: 30px;
      background-image: url("/assets/images/bg--lemon-surge.png");
      background-position: center;
      background-size: 300%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
      margin-bottom: 20px;

      .image {
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/lemon-surge.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image 1s ease;
      }

      .ar-button {
        font-family: 'Inter';
        font-weight: 300;
        font-size: 22px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        margin: 0 50px 30px 50px;
        padding: 10px 20px;
        border-radius: 1000px;
        border: 2px solid #ffffff;
        background: rgba(0, 87, 0, 0.50);
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        height: 50px;

        .ar-icon {
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            margin-right: 10px;
            height: 30px;
          
            // Add scale animation for height
            animation: scaleAnimation 1s infinite alternate ease-in-out;
          }
          
          // Define keyframes for the scaling animation
          @keyframes scaleAnimation {
            from {
              height: 30px;  // Start at 30px
            }
            to {
              height: 25px;  // Scale down to 20px
            }
          }          
        }        
      }
    }

    .colour-picker {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      background: rgba(255, 255, 255, 0.10);
      border-radius: 30px;
      padding: 20px;

      h3 {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
      }

      .radio-container {
        display: flex;
        height: 30px;
        align-items: center;
        gap: 15px;
        align-self: stretch;

        input[type="radio"] {
          display: none;
        }

        label {
          width: 100%;
          height: 30px;
          border-radius: 100px;
          background-color: #dddddd;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          cursor: pointer;
          border: 5px solid rgba(255, 255, 255, 0.20);
        }

        // Colors for each button
        #radio--lemon-surge + label {
          background: linear-gradient(90deg, $lemon-surge-secondary 25%, $lemon-surge-primary 25%, $lemon-surge-primary 75%, $lemon-surge-secondary 75%);
        }
        #radio--crimson-wave + label {
          background: linear-gradient(90deg, $crimson-wave-secondary 25%, $crimson-wave-primary 25%, $crimson-wave-primary 75%, $crimson-wave-secondary 75%);
        }
        #radio--sunset-rush + label {
          background: linear-gradient(90deg, $sunset-rush-secondary 25%, $sunset-rush-primary 25%, $sunset-rush-primary 75%, $sunset-rush-secondary 75%);
        }

        // Highlight selected button with a white border
        input[type="radio"]:checked + label {
          border: 5px solid #fff;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}

#home {
  &.crimson-wave {
    background-color: $crimson-wave-primary;

    h2 {
      color: $crimson-wave-secondary;
    }
  
    .image-container {
      background-image: url("/assets/images/bg--crimson-wave.png");
  
      .image {
        background-image: url("/assets/images/crimson-wave.png");
      }
  
      .ar-button {
        background: rgba(0, 45, 120, 0.5);     
      }
    }
  }

  &.lemon-surge {
    background-color: $lemon-surge-bg;

    h2 {
      color: $lemon-surge-primary;
    }
  
    .image-container {
      background-image: url("/assets/images/bg--lemon-surge.png");
  
      .image {
        background-image: url("/assets/images/lemon-surge.png");
      }
  
      .ar-button {
        background: rgba(0, 87, 0, 0.5);     
      }
    }
  }

  &.sunset-rush {
    background-color: $sunset-rush-bg;

    h2 {
      color: $sunset-rush-primary;
    }
  
    .image-container {
      background-image: url("/assets/images/bg--sunset-rush.png");
  
      .image {
        background-image: url("/assets/images/sunset-rush.png");
      }
  
      .ar-button {
        background: rgba(178, 51, 0, 0.5);     
      }
    }
  }
}
