#shoes {
  .scan-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
    pointer-events: none;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;

    p {
      color: #fff;
      font-family: 'Inter';
      font-weight: 300;
      font-size: 12px;
      margin: 0;
    }
  }

  .home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    //transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1000px;
    margin: 0;
    height: 48px;
    width: 48px;

    img {
      height: 48px;
      width: 48px;
    }
  }

  #buttonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
  }

  button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
  }

  .back-home {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .back-home:hover {
    background-color: #ddd;
  }
}
